@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
html {
  overflow: scroll;
  overflow-x: hidden;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.tab {
  background: none;
  color: black;
  border: 1px solid black;
  width: calc(100% / 6);
  padding: 10px;
  outline: none;
  margin-bottom: 5px;
}
.current-tab {
  color: orange;
}
iframe {
  width: 100%;
  height: 100vh;
  border: 0px;
}
.hidden {
  display: none;
}
.notification {
  width: 100%;
  background: orange;
  color: white;
  padding: 10px;
}
.notification2 {
  width: 100%;
  background: purple;
  color: white;
  padding: 10px;
}
.close {
  float: right;
  float: top;
  border: 0px;
  background: 0;
  color: black;
  margin-right: 0.625rem;
  /*   position:absolute; */
}
.close:hover {
  color: white;
}
a {
  color: pink;
  text-decoration: none;
}
a:hover {
  color: lightblue;
}
.half {
  width: calc(100% / 2);
  padding: 1rem;
}
select,
input {
  background: none;
  color: black;
  outline: none;
  border: 0px;
  border-bottom: 1px solid black;
}
button {
  background: white;
  color: black;
  outline: none;
  border-radius: 0px;
  border: 1px solid black;
}
button:hover {
  color: blue;
}
xmp {
  display: inline;
  background: #c8ccd0;
  color: black;
  padding: 10px;
  border-radius: 5px;
}
#settings,
#customAlert {
  position: fixed;
  text-align: center;
  background: white;
  border: 1px solid black;
  width: 500px;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  right: 50%;
  margin-left: -250px;
  border-radius: 20px;
  display: none;
  margin-top: 15% auto;
  padding: 20px;
  /*   cursor: move; */
  z-index: 10;
}
#customAlert h1 {
  margin: 0px;
}
.settingsOK,
#alertOK {
  width: 80%;
  padding: 10px;
  margin: 10px;
}
#background {
  width: 100%;
  height: 100vh;
  margin: 0px;
  left: 0px;
  top: 0px;
  opacity: 0.87;
  position: fixed;
  background: black;
  display: none;
}
#closeBackground {
  float: right;
  top: 0px;
  margin: 10px;
  display: none;
  position: absolute;
  right: 0;
}
#pageHeader {
  font-size: 4.375rem;
}
#selfPic {
  width: 18.75rem;
  float: left;
  margin-right: 10px;
}
#aboutText {
  text-align: justify;
}
.noSee {
  background: black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}
.about_section {
  border-top: orange 10px solid;
  background: white;
  color: black;
  display: inline-block;
  padding: 10px;
  border-radius: 25px;
  margin: 10px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.about_header {
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}